#general dependencies
Flask
Flask-SQLAlchemy
requests
flask-migrate
Flask-WTF

flake8
# pymysql
# connector
# connector-python

#testing dependencies
nose
pinocchio
coverage
factory-boy
pylint